# Carpetas de compilación
bin/
obj/

# Visual Studio
*.user
*.suo
*.vscode/
*.log

# Rider
.idea/

# Archivos de configuración de ReSharper
*.DotSettings.user

# Archivos generados automáticamente
*.g.cs
*.designer.cs
*.AssemblyInfo.cs
